:root {
  --gray050: #fafafa;
  --gray100: #e5e5ea;
  --gray200: #c7c7cc;
  --gray300: #aeaeb2;
  --gray400: #8e8e93;
  --gray500: #636366;
  --gray600: #48484a;
  --gray700: #3a3a3c;
  --gray800: #2c2c2e;
  --gray900: #1c1c1e;
  --gray950: #101011;

  --aqua-green: #00e388;

  --green300: #61da8b;
  --green500: #4aa96c;
  --green600: #3e955d;

  --red500: #fb6e58;
  --red550: #f55c47;
  --red600: #d83a25;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--gray050);
  --color-text: var(--gray900);
  --color-link: var(--green500);

  --color-button-border: var(--gray300);
  --color-button-background: var(--gray600);
  --color-button-background-hover: var(--gray500);
  --color-button-text: var(--gray050);

  --color-input-background: var(--gray050);
  --color-input-border: var(--gray500);
  --color-input-text: var(--gray900);
  --color-input-placeholder-text: var(--gray400);

  --color-navbar-background: var(--gray100);
  --color-navbar-hover-background: var(--gray200);
  --color-footer-background: var(--gray100);

  --color-login-box-background: var(--gray100);
  --color-login-image-background: var(--gray400);
  --color-login-input-border: var(--gray200);

  --color-errorbox-background: var(--red500);
  --color-successbox-background: var(--green300);

  --color-delete-button-background: var(--red500);
  --color-delete-button-hover-background: var(--red550);
  --color-delete-button-border: var(--gray700);
  --color-delete-button-text: var(--color-text);
}

:root[theme="dark"] {
  --color-background: var(--gray900);
  --color-text: var(--gray050);
  --color-link: var(--aqua-green);

  --color-button-border: var(--gray500);
  --color-button-background: var(--gray200);
  --color-button-background-hover: var(--gray300);
  --color-button-text: var(--gray900);

  --color-input-background: var(--gray600);
  --color-input-border: var(--gray400);
  --color-input-text: var(--gray050);
  --color-input-placeholder-text: var(--gray300);

  --color-navbar-background: var(--gray800);
  --color-navbar-hover-background: var(--gray950);
  --color-footer-background: var(--gray800);

  --color-login-box-background: var(--gray800);
  --color-login-image-background: var(--gray700);
  --color-login-input-border: var(--gray500);

  --color-errorbox-background: var(--red600);
  --color-successbox-background: var(--green600);

  --color-delete-button-background: var(--red600);
  --color-delete-button-border: var(--gray300);
}

* {
  transition: background-color 0.4s ease-out;
}

button,
a {
  transition: none;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
  word-wrap: break-word;
}

div#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

div.page-wrap main {
  height: 100%;
}

a {
  color: var(--color-link);
}

button {
  border: 2px solid var(--color-button-border);
  border-radius: 0.1rem;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.2rem;
}

button:hover {
  background-color: var(--color-button-background-hover);
}
button:active {
  background-color: var(--color-button-background);
}

button.delete {
  background-color: var(--color-delete-button-background);
  border-color: var(--color-delete-button-border);
  color: var(--color-delete-button-text);
}

button.delete:hover {
  background-color: var(--color-delete-button-hover-background);
}

button.delete:active {
  background-color: var(--color-delete-button-background);
}

input,
select,
textarea {
  padding: 0.3em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--color-input-background);
  color: var(--color-input-text);
  border: 2px solid var(--color-input-border);
  border-radius: 0.1rem;
  max-width: 100%;
}

input::placeholder {
  color: var(--color-input-placeholder-text);
}
